body {
    margin: 0;
}
header {
    background-color: #b34949;
    color: #fff;
    text-align: center;
    padding: 1px;
    height: 50px;
}
h1 {
    margin: 6px;
}
nav {
    line-height: 50px;
    background-color: #eee;
    height: 574px;
    width: 150px;
    float: left;
    padding: 5px;
}
footer {
    background-color: #555;
    color: #fff;
    clear: both;
    padding: 12px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding-left: 10px;
    padding-left: 10px;
    text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
img {
    width: 310px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-left: 160px;
    margin-top: 20px;
    padding-left: 10px;
}
textarea {
    resize: none;
}
.row {
    width: 1050px;
    height: 35px;
    display: inline-block;
    padding: 19px;
}
.row-big {
    height: 100px;
}
.column { 
    width: 350px;
    height: 50px;
    float: left;
}
#dept-select {
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
#desc {
    text-align: center;
}
#contact-heading {
    margin-left: 400px;
}
#img-container {
    width: 80%;
    padding: 90px;
    margin: 0 auto;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #C85E5E;
    border-radius: 6px;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
